.site-header{
            background-color:#4430b8;
            color: #ecfdf9;
            height: 100vh;
            font-family: monospace;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
}

body{
    margin: 0;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow:#2238ff 0px 1px 4px 6px;

}
.site-header-content{
       margin: 10px;
       
}
.course-link{
    color: #ecfdf9;
}
